/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2f3e6a;
  --ifm-color-primary-dark: #2a385f;
  --ifm-color-primary-darker: #28355a;
  --ifm-color-primary-darkest: #212b4a;
  --ifm-color-primary-light: #344475;
  --ifm-color-primary-lighter: #36477a;
  --ifm-color-primary-lightest: #3d518a;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #adcdff;
  --ifm-color-primary-dark: #82b3ff;
  --ifm-color-primary-darker: #6da6ff;
  --ifm-color-primary-darkest: #2d7fff;
  --ifm-color-primary-light: #d8e7ff;
  --ifm-color-primary-lighter: #edf4ff;
  --ifm-color-primary-lightest: #ffffff;
}
